<div id='{{id}}' class='input-group {{template}} {{#if big}}input-group--xl{{/if}} {{#if error}}--error{{/if}} {{classes}}'>

  <label class='checkbox'>
    {{label}}
    <input
      id='{{id}}-input'
      {{#if required}}  required             {{/if}}
      {{#if checked}}   checked              {{/if}}
      {{#if disabled}}  disabled             {{/if}}
      {{#if attribute}} name='{{attribute}}' {{/if}}
      {{#if value}}     checked              {{/if}}
      {{#each attributes as |attribute|}}
        {{#with attribute}}data-{{name}}="{{value}}"{{/with}}
      {{/each}}
      class='checkbox__input' type='checkbox'>
    <span class='checkbox__checkmark'></span>
  </label>

  <div class='input-group__error {{#if error}}--visible{{else}}--hidden{{/if}}'>
    {{error}}
  </div>
</div>
