<div id="{{id}}" class='input-group {{input.template}}-input-group {{#if big}}input-group--xl{{/if}} {{#if error.message}}--error{{/if}} {{classess}}'>
  <div class='input-group__label-wrapper'>
    {{#if label}}
      <label class='input-group__label' for='{{input.id}}'>
        {{label}}
      </label>
    {{/if}}
    {{#unless required}}
      <span class='input-group__optional-label'>
        (optional)
      </span>
    {{/unless}}
  </div>

 {{> component input}}

 {{> component error}}

</div>