<div id="{{id}}" class='input-group {{template}} {{#if error.message}}--error{{/if}}'>

  {{> @partial-block }}

  {{#if label}}
    <label class='input-group__label' for='{{input.id}}'>
      {{label}}
    </label>
  {{/if}}

  {{#unless input.required}}
    <span class='input-group__optional-label'>
      (optional)
    </span>
  {{/unless}}

  <div class='input-group__error'>
    {{#if error.message}}{{error.message}}{{/if}}
  </div>
</div>