<div id='{{id}}' class='input-group {{template}}-input-group {{#if big}}input-group--xl{{/if}} {{#if error}}--error{{/if}} {{classes}}'>

  <div class='input-group__label-wrapper'>
    {{#if label}}
      <label class='input-group__label' for='{{id}}-input'>
        {{label}}
      </label>
    {{/if}}
    {{#unless required}}
      <span class='input-group__optional-label'>
        {{optional}}
      </span>
    {{/unless}}
  </div>

 {{> @partial-block }}

 <div class='input-group__error {{#if error}}--visible{{else}}--hidden{{/if}}'>
  {{error}}
 </div>

</div>