<div id="{{id}}" class='modal {{#if isOpen}}--visible{{else}}--hidden{{/if}}'>
  <div class='modal-content'>
    <div class='modal-header'>
      {{headerText}}
      <div class='close-modal'>
        <span class='close-modal__button' data-action="close.modal"></span>
      </div>
    </div>
    <div class='modal-body'>
        {{> (lookup body 'template') body}}
    </div>
    <div class='modal-footer'>
      {{#each actions}}
        {{#if submit}}
          <input type='submit' form="{{../body.id}}" class='modal-actions__action button button--filled' value="{{name}}"/>
        {{else}}
            <button class='modal-actions__action button button--filled' data-action="{{id}}">
              {{name}}
            </button>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>