<div id="{{id}}_modal" class='modal {{#if isOpen}}--visible{{else}}--hidden{{/if}}'>
  <div class='modal-content'>
    <div class='modal-header'>
      {{headerText}}
      <div class='close-modal'>
        <span class='close-modal__button'></span>
      </div>
    </div>
    <div class='modal-body'>
      {{> @partial-block }}
    </div>
    <div class='modal-footer'>
      <button class='modal-actions__cancel button button--wired' data-id="cancel">
        Cancel
      </button>
      {{#each actions}}
        <button class='modal-actions__action button button--filled' data-id="{{id}}">
          {{name}}
        </button>
      {{/each}}
      {{#if submitButton}}
        <button type="submit" form="{{id}}" class='modal-actions__action button button--filled'  data-id="submit">
          {{ submitButton }}
        </button>
      {{/if}}
    </div>
  </div>
</div>