<div id="{{id}}" class='modal {{#if isOpen}}--visible{{else}}--hidden{{/if}}'>
  <div class='modal-content'>
    <div class='modal-header'>
      {{headerText}}
      <div class='close-modal'>
        <span class='close-modal__button' data-action="close.modal"></span>
      </div>
    </div>
    <div class='modal-body'>
      {{> (lookup body 'template') body}}
    </div>
    <div class='modal-footer'>
      <button class='modal-actions__action button button--wired' data-action="close.modal">
        Cancel
      </button>
      {{#each actions}}
        <button class='modal-actions__action button button--filled' data-action="{{id}}">
          {{name}}
        </button>
      {{/each}}
    </div>
  </div>
</div>