<div id="{{id}}" class="{{classes}}">
  {{#each fieldsets as |fieldset|}}
    {{#with (lookup  ../this fieldset)}}
      <div>
        <input
              type='radio'
              id='{{id}}-radio'
              value='{{id}}'
              class='radio-fieldset-toggle'
              {{#if ../../selectedFieldset '==' id}}checked{{/if}}
              name='{{id}}.fieldset'>

        <label for='{{id}}-radio'>
          {{legend}}
        </label>
      </div>

      <fieldset formId="{{formId}}" {{#if ../../selectedFieldset '!=' id}}disabled="disabled"{{/if}} class="{{#if ../../selectedFieldset '==' id}}--visible{{else}}--hidden{{/if}}">
        {{> component this}}
      </fieldset>
    {{/with}}
  {{/each}}
</div>