<div id="{{id}}" class="{{classes}}">

  {{> component toggle}}

  <fieldset formId="{{id}}" {{#unless isVisible}}disabled="{{disabled}}"{{/unless}} class="{{#if isVisible}}--visible{{else}}--hidden{{/if}}">
    {{> @partial-block }}
  </fieldset>

</div>