<div  class='input-group {{#if error}} --error {{/if}} {{#if displayMode}} --display-mode {{/if}}'>
  <select  class='input-group__input'
          {{#if required}} required {{/if}}
          {{#if disabled}} disabled {{/if}}
          {{#if multiple}} multiple {{/if}}
          {{#if size}} size='{{size}}' {{/if}}
          {{#if placeholder}} placeholder='{{placeholder}}' {{/if}}
          autocomplete='{{#if autocomplete}}on{{/if}}{{#unless autocomplete}}off{{/unless}}'
          id='{{id}}__select-input'
          name='{{key}}'>
      <option value="" selected disabled hidden>{{placeholder}}</option>
      {{#each items as |item|}}
        <option value="{{item.id}}" class='dropdown__list-item {{#if item.display}} --display {{/if}} {{#if item.selected}} --selected {{/if}} item' {{#if item.selected}}selected{{/if}}>
          {{item.name}} {{#if item.desc}}<span class='dropdown__item-description'> ({{item.desc}})</span>{{/if}}
        </option>
      {{/each}}
  </select>
  <label class='input-group__label' for='{{id}}__select-input'>
    {{label}}
  </label>
  {{#unless required}}
    <span class='input-group__optional-label'>
      {{!-- {{translate 'OPTIONAL'}} --}} (optional)
    </span>
  {{/unless}}
</div>
{{#unless displayMode}}
  <div class='input-group__error'>
    <i class="fas {{#if error}}fa-info-circle{{/if}}"></i> {{#if error}}{{ errorMessage }}{{/if}}
  </div>
{{/unless}}