<div  class='input-group {{#if error.hasError}} --error {{/if}} {{#if displayMode}} --display-mode {{/if}}'>
  <input  class='input-group__input'
          {{#if required}} required {{/if}}
          {{#if disabled}} disabled {{/if}}
          {{#if readOnly}} readonly {{/if}}
          {{#if placeholder}} placeholder='{{placeholder}}' {{/if}}
          type='password'
          id='{{id}}_password-input'
          name='{{key}}'
          value='{{value}}'>
  <label class='input-group__label' for='{{id}}_password-input'>
    {{label}}
  </label>
  {{#unless required}}
    <span class='number-input__optional-label'>
      {{!-- {{translate 'OPTIONAL'}} --}} (optional)
    </span>
  {{/unless}}
</div>
{{component error 'Error pill'}}